name: Deploy Python Greetings Application
description: Deploys the Python Greetings application to specified environment
inputs:
  environment:
    description: 'The target environment for deployment (dev, stg, prod)'
    required: true
  docker_hub_username:
    description: 'The Docker Hub username'
    required: true
runs:
  using: 'composite'
  steps:
    - name: Step decription
      run: echo "Deploying to ${{ inputs.environment}} Environment..."
      shell: bash
    - name: Pulling latest version of python-greetings-app image from Docker Hub
      run: docker pull ${{ inputs.docker_hub_username }}/python-greetings-app:latest
      shell: bash
    - name: Stopping docker service if running
      run: docker-compose stop -f docker-compose.yml greetings-app-${{ inputs.environment }} || echo "Container STOPPED"
      shell: bash
    - name: Removing docker service if existing
      run: docker-compose rm -f docker-compose.yml greetings-app-${{ inputs.environment }} || echo "Container REMOVED"
      shell: bash
    - name: Starting docker service with latest image
      run: docker-compose -f docker-compose.yml up -d greetings-app-${{ inputs.environment }} || echo "Container STARTED on ${{ inputs.environment }} Environment"
      shell: bash
    - name: Verify container is running by filtering running containers
      run: docker ps --filter "name=greetings-app-${{ inputs.environment }}"
      shell: bash