name: Python Microservice Greetings CI/CD
on:
    push:
        branches:
            - main
    workflow_dispatch:
jobs:
    build-docker-image:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/build
              with:
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
                docker_hub_access_token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    deploy-to-dev:
        runs-on: ubuntu-latest
        needs: [build-docker-image]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/deploy
              with:
                environment: 'dev'
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}

    tests-on-dev:
        runs-on: ubuntu-latest
        needs: [deploy-to-dev]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/test
              with:
                environment: 'dev'
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
    deploy-to-stg:
        runs-on: ubuntu-latest
        needs: [tests-on-dev]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/deploy
              with:
                environment: 'stg'
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
    tests-on-stg:
        runs-on: ubuntu-latest
        needs: [deploy-to-stg]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/test
              with:
                environment: 'stg'
    deploy-to-prod:
        runs-on: ubuntu-latest
        needs: [tests-on-stg]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/deploy
              with:
                environment: 'prod'
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
            
    tests-on-prod:
        runs-on: ubuntu-latest
        needs: [deploy-to-prod]
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/test
              with:
                environment: 'prod'
                docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}